%h2 
  - if @tag
    == Posts tagged by #{@tag}
  - else
    Posts

#content
  - @posts.each do |post|
    %div[post]
      %h3
        %a{ :href => "/posts/#{post.id}" }= post.meta[:title]
      .date= post.date
      .body
        = post.body

