%h2= title

#posts.posts
  = partial :post, @posts, :comments => false

- if @page and max_page > 1
  .page_links
    - if @page > 1
      %a{ :href => prev_page_url } &lt;
    - 1.upto max_page do |n|
      - if @page == n
        = n
      - else
        %a{ :href => page_url(n) }= n
    - if (@page * Post.page_size) < Post.count(@tag)
      %a{ :href => next_page_url } &gt;

%script{ :type => 'text/javascript' }
  $(function() { load_comment_links(); });


