body { font-family: Helvetica, Verdana, sans-serif; }
code { font-family: monospace; }

a:link, a:visited, a:active, a:hover { text-decoration: none; }

a:link, a:visited, a:active { color: #a00; }
a:hover { color: #f80; }

body div.post div.body { font-size: 1.2em; }
body div.post div.body p { line-height: 1.4em; }

body div.post div.body pre { line-height: 1.4em; overflow-x: auto; }
