body { font-family: Helvetica, Verdana, sans-serif; }
/* body div.post div.body { font-family: Georgia, serif; } */

a:link, a:visited, a:active, a:hover { text-decoration: none; }

a:link, a:visited, a:active { color: #a00; }
a:hover { color: #f80; }
