#page { width: 40em; margin: 1em auto; position: relative; }

/* Site Title */
h1 { font-size: 3em; font-weight: bold; }

/* Page Title */
h2 { font-size: 2em; margin: 1em 0 0.4em 0; font-weight: bold; }

/* Post Title */
h3 { font-size: 1.5em; margin: 1em 0 0.2em 0; font-weight: bold; }

/* Width Title */
h4 { font-size: 1.2em; margin: 0.6em 0 0.2em 0; font-weight: bold; }

/* Post Meta */
div.post dl.meta { font-size: 0.9em; margin: 0.5em 0; position: relative; overflow: auto; }
div.post dl.meta dt { font-weight: bold; clear: left; float: left; }
div.post dl.meta dd { float: left; }
div.post dl.meta dt, div.post dl.meta dd { margin: 0.2em 0.5em 0.2em 0; }

div.post div.body { clear: both; margin: 0.5em 0; }

/* Post Content */
div.post div.body ul { margin: 0.5em 1em; }
div.post div.body ul li { margin: 0.2em 0; }

div.post div.body p { margin: 0.5em 0; }

div.post div.body ul { margin: 1em 3em; font-size: 0.9em; list-style: outside; }

div.post div.body dl { overflow: auto; font-size: 0.9em; margin: 0.5em 0; }
div.post div.body dl dt, div.post div.body dl dd { float: left; margin: 0.2em 0 0.2em 0; }
div.post div.body dl dt { font-weight: bold; clear: left; margin-right: 0.5em; width: 8em; text-align: right; }
div.post div.body dl dd { }

div.post div.body pre { border-width: 3px; border-style: solid; display: block; overflow: auto;
                        -moz-border-radius: 0.5em; -webkit-border-radius: 0.5em;
                        padding: 0.5em 1em; margin: 1em 3em; }

/* Post Comments */
div.post div.number_comments { overflow: auto; line-height: 1.2em; }
div.post div.number_comments a { float: right; font-size: 0.7em; }

div.post div.show_comments { overflow: auto; line-height: 1.2em; }
div.post div.show_comments a { float: right; font-size: 0.7em; }
.dsq-dc-logo { display: none !important; }

/* Tags */
#tag_cloud { width: 18em; float: right; text-align: right; 
             line-height: 1.5em; height: 1.5em; }

/* Individual Tag Sizes */
a.enormous { font-size: 1.5em; }
a.large { font-size: 1.2em; }
a.medium { font-size: 1.0em; }
a.small { font-size: 0.8em; }
a.tiny { font-size: 0.6em; }

/* Feed Link */
a#feed_link { position: absolute; top: 0; right: 0;
              display: block;
              height: 28px; width: 28px;
              text-indent: -9999px;
              -webkit-transform: rotate(8deg);
              -moz-transform: rotate(8deg);
              background-image: url('/images/feed-icon-28x28.png');
              background-repeat: no-repeat;
              background-position: right center; }

#validation { margin-top: 1em; }
