/* Code Faces */
/* .post .body code { color: #d3d7cf; background-color: #444; } */
.post .body code { color: #fff; background-color: #444; }
.post .body pre code { padding: 0.5em 1em; display: block; }
.post .body code .comment { color: #555753; }
.post .body code .comment-delimiter { color: #555753; }
.post .body code .constant { color: #4e9a06; }
.post .body code .function-name { color: #c4a000; }
.post .body code .keyword { color: #729fcf; }
.post .body code .string { color: #77507b; }
.post .body code .type { color: #ad7fa8; }
.post .body code .variable-name { }

.post .body code .comint-highlight-prompt { color: #00ffff; }
.post .body code .ATTRLIST { color: #ff0000; }
.post .body code .ATTRLIST-1 { color: #00ff00; }
.post .body code .ATTRLIST-2 { color: #ff00ff; }
.post .body code .ATTRLIST-3 { color: #0000ff; }
.post .body code .bold { font-weight: bold; }

/* Links in code */
.post .body code a { color: inherit; background-color: inherit;
                     font: inherit; text-decoration: inherit; }
.post .body code a:hover { text-decoration: underline; }
